<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categorías</ion-title>
    </ion-toolbar>
  </ion-header>

    @if (isLoading) {
      <ion-spinner></ion-spinner>
    } @else {
      <ion-list>
        @for (categoria of categorias; track categoria.id) {
          <ion-item (click)="presentActionSheet(categoria)">
            <ion-label>
              <h2>{{ categoria.nombre }}</h2>
              <p>{{ categoria.descripcion }}</p>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
        } @empty {
          <p>No hay categorías registradas</p>
        }
      </ion-list>
    }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCategoriaForm()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
